upstream backend {
        server {{ backend_ip  }}:{{ apache_listen_port }};
}

server {
        listen {{ nginx_listen_port }} default_server;

        root /var/www/html;

        index index.html index.htm index.nginx-debian.html;

        location / {
                proxy_pass http://backend;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP $remote_addr;
                #try_files $uri $uri/ =404;
        }

}
